In [1]:
# Numerical

x = 5

In [2]:
price = 26.25
print(price)

26.25

In [3]:
num = 3e6
print(num)

3000000.0

In [4]:
z = 4 + 5j 
print(z)

(4+5j)

In [5]:
print(type(z))

<class 'complex'>

In [6]:
print(type(num))

<class 'float'>

In [7]:
print(type(x))

<class 'int'>

In [8]:
print(abs(-5))

5

In [9]:
print(abs(1.000000))

1.0

In [10]:
print(pow(2,3))

8

In [11]:
print(round(4.75))
print(round(4.5))

5
4

In [12]:
nums = [3,1,5,7,9,1]

print(min(nums))
print(max(nums))
print(sum(nums))

1
9
26

In [13]:
name = 'anik'
city = "kolkata"
country = '''india'''

In [14]:
massg = '''
Helo my dear friend
this is a multiline commnent
'''

In [15]:
name = 'Anik Das'

print(name[3])

k

In [16]:
print(name[12])

IndexError: string index out of range

In [ ]:
print(name[-1])

s

In [ ]:
print(name[-3])

D

In [ ]:
str = "Anik Das"

str[0] = 'x'

TypeError: 'str' object does not support item assignment

In [ ]:
#Concatination
first_name = "Anik"
last_name = "Das"

complete_name = first_name +' '+ last_name

print(complete_name)

Anik Das

In [ ]:
# Length of the string

print(len(complete_name))

8

# String Slicing

In [ ]:
str = 'Vishwa Mohan'

print(str[2:5])

shw

In [ ]:
print(str[2:])

shwa Mohan

In [ ]:
print(str[:7])

Vishwa

In [ ]:
print(str[:])

Vishwa Mohan

In [ ]:
print(str[-9:-4])

hwa M

In [ ]:
print(str[-9:9])

hwa Mo

In [ ]:
str = " vIshwa "
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.strip())

 VISHWA
 vishwa
 vishwa
vIshwa

In [ ]:
# Replace Method

str = "Hello dear, I am very good , I am very nice, I am wow"

print(str.replace("I am","We are",2))

Hello dear, We are very good , We are very nice, I am wow

In [ ]:
# Escape Character 

print("Hello  \n Anik")

Hello
 Anik

In [ ]:
print("Anik\tDas")

Anik	Das

In [ ]:
print("Anik \"Das\"")

Anik "Das"

# List Data Type

In [ ]:
students = ["Mohan", "Vishwa", "Shivani", "Sakshi"]

In [ ]:
print(students)

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']

In [ ]:
print(type(students))

<class 'list'>

In [ ]:
list2 = list(students)
print(list2) # constructor method

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']

In [ ]:
list3 = list("Vishwa")
print(list3)

['V', 'i', 's', 'h', 'w', 'a']

In [ ]:
list4 = list((3,4,"Vishawa"))

print(list4)

[3, 4, 'Vishawa']

In [ ]:
# Accessing the element of the list 

l1 = [1,3,9,2,5,6,7]
print(l1[3])
print(l1[-4])
print(l1[-6])

2
2
3

In [ ]:
# Inserting element 

arr = [3,2,1,5,9]

arr.append(11)
print(arr)

[3, 2, 1, 5, 9, 11]

In [ ]:
arr.insert(3,43)
print(arr)

[3, 2, 1, 43, 5, 9, 11]

In [ ]:
l1 = [1,2]
l2 = ["Vishwa", "Mohan"]
l1.extend(l2)
print(l1)

[1, 2, 'Vishwa', 'Mohan']

In [ ]:
# Remove Elements from the list

arr = [3,5,2,1,9]
arr.remove(1)
print(arr)

[3, 5, 2, 9]

In [ ]:
arr  = [3,5,2,1,9,1,8,1]
arr.remove(1)
print(arr)

[3, 5, 2, 9, 1, 8, 1]

In [ ]:
arr = [3,1,7,9,11,23,45]

print(arr.pop())
print(arr.pop(2))

print(arr)

45
7
[3, 1, 9, 11, 23]

In [ ]:
students = ['a','b','c','d','e']

students[3] = 'f'
print(students)

['a', 'b', 'c', 'f', 'e']

In [ ]:
students[1:4] = 'm','n','o'

print(students)

['a', 'm', 'n', 'o', 'e']

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9]
l1.reverse()
print(l1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
l1_copy = l1.copy()
print(l1_copy)

print(id(l1_copy), id(l1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]
140176660529280 140176660767168

In [ ]:
l1.sort()

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuple

In [21]:
tup1 = (3,6,1,9,10)
print(tup1)
print(type(tup1))

(3, 6, 1, 9, 10)
<class 'tuple'>

In [22]:
t1 = tuple([1,2,4])

print(t1)

(1, 2, 4)

In [23]:
t2 = tuple("Vishwa")
t3 = tuple(tup1)

print(t2,t3)

('V', 'i', 's', 'h', 'w', 'a') (3, 6, 1, 9, 10)

In [24]:
t = (35)

print(type(t))

<class 'int'>

In [25]:
t = (35,)

print(type(t))

<class 'tuple'>

In [27]:
fruits = ('apple', 'mango', 'banana', 'apple', 'mango', 'apple', 'strawberry')

print(fruits.count('apple'))

3

In [28]:
print(fruits.count('jackfruit'))

0

In [29]:
print(fruits.index('jackfruit'))

ValueError: tuple.index(x): x not in tuple

In [30]:
print(fruits.index('apple'))

0

In [32]:
print(fruits.index('mango'))

1

In [33]:
print(len(fruits))

7

In [34]:
fruits = ('apple', 'mango', 'banana', 'apple', 'mango', 'apple', 'strawberry')


print(fruits[3])
print(fruits[-3])

apple
mango

In [35]:
fruits[3] = 'jackfruits'

print(fruits)

TypeError: 'tuple' object does not support item assignment

In [37]:
print(fruits[2:7])

('banana', 'apple', 'mango', 'apple', 'strawberry')

## Boolean Data Type

In [38]:
print(True)
print(False)

True
False

## Dictionary

In [42]:
students_details = {'name': 'Anik','age': 21, 'city': 'Kolkata'}

print(students_details)
print(type(students_details))

{'name': 'Anik', 'age': 21, 'city': 'Kolkata'}
<class 'dict'>

In [44]:
dict1 = {1:'Vishwa', 2: 'mohan',True : 'Love' }

print(dict1)

{1: 'Love', 2: 'mohan'}

In [45]:
dict1 = {3:'Vishwa', 2: 'mohan',True : 'Love' }

print(dict1)

{3: 'Vishwa', 2: 'mohan', True: 'Love'}

In [46]:
# Dictionary Constructor Methods

dict1 = dict(name = "Vishwa", age = "Mohan", True = "Love")

SyntaxError: cannot assign to True (3956726633.py, line 3)

In [49]:
dict1 = dict(name = "Vishwa", age = "Mohan")

print(dict1)

{'name': 'Vishwa', 'age': 'Mohan'}

In [50]:
print(type(dict1))

<class 'dict'>

In [53]:
# Access the elements of the dictionary 

students_details = {'name': 'Anik','age': 21, 'city': 'Kolkata'}

print(students_details['name'])

print(students_details['city'])

Anik
Kolkata

In [57]:
print(students_details.keys())

print(students_details.values())

print(students_details.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Anik', 21, 'Kolkata'])
dict_items([('name', 'Anik'), ('age', 21), ('city', 'Kolkata')])

How do we add elements in the dictionary   |  key,value

In [63]:
students_details = {'name': 'Anik','age': 21, 'city': 'Kolkata'}

students_details['country'] = 'India'

print(students_details)

{'name': 'Anik', 'age': 21, 'city': 'Kolkata', 'country': 'India'}

In [64]:
students_details = {'name': 'Anik','age': 21, 'city': 'Kolkata'}

marks_details = {'English': 100, 'Maths': 78, 'Science' : 92}

students_details.update(marks_details)

print(students_details)

{'name': 'Anik', 'age': 21, 'city': 'Kolkata', 'English': 100, 'Maths': 78, 'Science': 92}

In [65]:
# Remove the elements from the dictionary

students_details.pop('city')
print(students_details)

{'name': 'Anik', 'age': 21, 'English': 100, 'Maths': 78, 'Science': 92}

In [66]:
print(students_details.popitem())

print(students_details)

('Science', 92)
{'name': 'Anik', 'age': 21, 'English': 100, 'Maths': 78}

In [67]:
del students_details['age']

print(students_details)

{'name': 'Anik', 'English': 100, 'Maths': 78}

In [68]:
students_details.clear()
print(students_details)

{}

## Set Data Type

In [69]:
my_set = {1,2,3,5}

print(my_set)

print(type(my_set))

{1, 2, 3, 5}
<class 'set'>

In [70]:
s1 = {1,4,5,2,1,9,7,4,1}
print(s1)

{1, 2, 4, 5, 7, 9}

In [71]:
s2 = set()
print(s2)

set()

In [73]:
s3= set({5,6,7})
print(s3)

{5, 6, 7}

In [76]:
# Add

s = set()

s.add(5)
s.add(13)
s.add(5)
s.add(12)

print(s)

{13, 12, 5}

In [77]:
# Remove 

s1 = {3,9,7,4}

s1.discard(7)

print(s1)

{9, 3, 4}

In [78]:
s1.remove(12)

print(s1)

KeyError: 12

### FrozenSet : Immutable set

In [80]:
fs = frozenset([1,2,3])

print(fs)

print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [82]:
fs2 = frozenset({1,2,3})
print(fs2)

frozenset({1, 2, 3})

In [83]:
dict1 = {fs2 : "Vishawa"}

print(dict1)

{frozenset({1, 2, 3}): 'Vishawa'}

In [85]:
# Implicit typecasting

x = 5

y = 6.5

result = x + y

print(result)    # here python change the type of x from int to float

11.5

In [87]:
y = '10'

print(type(y))
int_y = int(y)  # this is typecasting


print(type(int_y))

<class 'str'>
<class 'int'>